<div class="container">
	<div class="row">
		<div class="col-md-8 decalage fenetre">
    		<div id="formul">
    		<p class="texte">Ajoutez votre avion :
    		</p>
    		<form method="POST" action="/add">
				<input name="constructeur" class="inputp" placeholder="Constructeur">
				<input name="modele" class="inputp" placeholder="Modèle">
				<input name="equipement" class="inputi" placeholder="Equipement">
				<textarea name="description" class="inputr" placeholder="Description"></textarea>
				<input name="image" class="inputi" placeholder="Image(url)">
			 	<button class="btn btn-info decalage5" type="submit">Ajouter
			 	</button>
			</form>
			</div>
		</div>
	</div>
</nav>
</div>